
.bannerWrapperAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 585px;
    background: #D6CFFF;
}
.bannerWrapper{
    width: 100%;
    height: auto;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bannerText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 96px;
    width: 30%;
    height: 100%;

}
.bannerIcon{
    
    overflow: hidden;
}
.banerH1{
    font-family: 'Ubuntu';
 margin-bottom: 0;
    font-weight: 700;
    font-size: 34px;
    color: #3E3092;
}
.bannerP{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 600;
margin-bottom: 40px;
font-size: 20px;
line-height: 28px;
color: #3E3092;
}
.bannerButton{
    cursor: pointer;
    display: flex;
border: none;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
    background: #3E3092;
    width: 298px;
height: 58px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
color: #FFFFFF;

}
.arrovIconBanner{
    cursor: pointer;
}
.opWrap{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.obSmallWrap{
    width: 86%;
    height: 517.75px;
    margin: 30px;
   
    display: flex;
    flex-direction: column;

}
.obcladH1{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
margin: 0;
color: #3FAC8C;
}
.wrapTwoPic{
    display: flex;
    justify-content: space-around;
    align-self: center;
    justify-self: end;
    width: 75%;
    height: 433.75px;
    margin-top: 40px;
}
.wrapPicAndIcon{
    display: flex;
}
.picOb{
    width: 306px;
    height: 405px;
    object-fit: cover;
    margin-top: 30px;
}
.likeBook{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    background: #D9D9D9;
    transform: rotate(45deg);
    cursor: pointer;
    align-self: flex-end;
    margin-left: 10px;
}
.likeBook.selected{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    background:  #F7CB25;
    transform: rotate(45deg);
    cursor: pointer;
    align-self: flex-end;
    margin-left: 10px;
}
.likeBookIcon{
    transform: rotate(-45deg);
}
.predProdazWrap{
    display: flex;
    border: 20px solid #3FAC8C;
    width: calc(100% - 40px);
    height: calc(669px - 40px);
}
.imgPredProdag{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
}
.imgRelDiv{
    position: relative;
    width: 434px;
    height: 578px;
}
.imgRelDivImg{
    object-fit: cover;
    box-shadow: 5px 2px 5px #c3c3c3;
}
.imgRelDivImg{
    position: absolute;
}
.prdeProdPricing{
    position: absolute;
    left: 372px;
    top: 320px;
    z-index: 1;
    width: 120.92px;
    height: 120.92px;
    color: white;
    background: #3FAC8C;
    transform: rotate(45deg);
    font-family: 'Ubuntu';
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.prdeProdPricingRotate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}
.fullPrice{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 152.5%;
/* or 27px */

text-align: center;
    margin: 0;
}
.salePrice{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 111%;
color: #FFFFFF;
    margin: 0;
}
.infoPredProdag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    padding-left: 100px;
}
.infoPredProdagNewBooks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    padding-bottom: 27px;
    
}
.timerWrap{
    display: flex;
    width: 530px;
}
.redBlock{
    display: flex;
    align-items: center;
    justify-content: center;
width: 249px;
height: 67px;
background: #FF3416;
  
}
.redBlock h1{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 111%;
    color: #FFFFFF;
}
.timerBlue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 249px;
height: 67px;
background: #3E51C1;;
}
.timerBlue h2{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 111%;
text-align: center;
margin: 0;
color: #FFFFFF;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.timer h1{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 24px;
margin: 0;
line-height: 111%;
text-align: center;
color: #FFFFFF;
}
.nameBooks{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
color: #3E3092;
}
.nameBooksNewBooks{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
margin: 0;
color: #3E3092;
}
.nameBooksNew{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
color: #000000;
}
.autorInform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: auto;
    flex-wrap: wrap;
}
.autorInformNew{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
}
.autorInformSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.autorInformSection p{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 152.5%;
color: #000000;
margin: 0;
}
.autorInformSection h4{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 152.5%;
    margin: 0;
}
.descriptionBooks{
    width: 90%;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
color: #000000;
}
.descriptionBooksNew{
    width: 90%;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 130%;
color: #000000;
}
.blockOrderBooksWrap{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.kOrderBooksPredButton{
    cursor: pointer;
    width: 227px;
    height: 60px;
    border: none;
    background: #3E51C1;
    color: white;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
}



/* boooks Age*/

.bookAgeWrap{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.bookAgeWrapSmall{
    width: 86%;
    height: auto;
    height: 310.38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 57px;
    margin-right: 10px;
}
.chousBooks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
}
.chousBooksH1{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
color: #3FAC8C;
}
.blockButtonSelectWrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chousBooksSelect{
position: relative;
}
.customSelect{
    cursor: pointer;
    border: 3px solid #3FAC8C;
    width: 415px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 600;
font-size: 22px;
padding-left: 25px;
appearance: none;
}
.customArrowSelect{
  position: absolute;
  top: 36.5px;
  right: 30px;
  pointer-events: none;
}

.customOpin:checked{
    background:#3FAC8C;
 }
.buttonSelect{
    border: none;
    width: 297px;
    height: 84px;
    background:#F7CB25;
    font-family: 'Ubuntu';
cursor: pointer;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
color: #3E3092;
margin-left: 46px;
}
/*saleblock*/
.saleBlockWrap{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.saleBlockWrapSmall{
    width: 88%;
    height: auto;
    margin: 76px;
    margin-left: 95 px;
    
    height: auto;
    display: flex;
    flex-direction: column;
}
.saleBlockText{
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.saleActions{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
margin: 0;
color: #FF3416;

}
.saleActionsTop{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
margin: 0;
color: #3E51C1;

}
.saleActionsLink{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 111%;
color: #3E3092;
margin-left: 20px;
}
.saleActionsLinkTop{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 111%;
color: #FF3416;
margin-left: 20px;
}
.smalProductList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}


.saleActionsPrice{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
margin: 0;
color: #3FAC8C;

}
.saleActionsLinkPrice{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 111%;
color: #3E51C1;
margin-left: 20px;
}
.newBooksWrapBlock{
    width: 100%;
    height: auto;
    display: flex;
}
.yellowBorderWrap{
    width: calc(50% - 20px);
    border: 20px solid #F7CB25;
    padding-left: 49px;
    padding-top: 31.25px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.blueBorderWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(50% - 20px);
    border: 20px solid #3E51C1;
    border-left: none; 
    padding-left: 49px;
    padding-top: 31.25px;
}
.arrowLeft{
    cursor: pointer;
}
.prodPricLikeCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin-top: 20px;
    height: auto;
}
.likeProductSmallSaleNovu{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    background: #3E51C1;;
}
.likeProductSmallSaleNovuGr{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    background: #3FAC8C;
}
.imgPictureBox{
    position: relative;
    width: 72%;
    

}
.opicunPicture{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.markerNew{
    position: absolute;
    top: 400px;
    left: -22px;
    width: 111px;
    height: 49px;
    background: #FF3416;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 111%;
}
.BorderWrapBlurOp{
    position: relative;
    width: calc(50% - 69px);
    border: 20px solid #3E3092;
    padding-right: 49px;
    padding-top: 31.25px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.markerSun{
    position: absolute;
    top: 200px;
    left: 350px;
    width: 111px;
    height: 49px;
    background: #FF3416;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 111%;
}
.opRadaButton{
    width: 320px;
    height: 60px;
    background: #3FAC8C;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
display: flex;
align-items: center;
cursor: pointer;
justify-content: center;
border: none;
color: #FFFFFF;
align-self: flex-start;
}



.OpradaRelPrice{
    position: absolute;
    left: -9%;
    top: 8%;
    z-index: 1;
    width: 109.58px;
    height: 109.58px;
    color: white;
    background: #FF3416;
    transform: rotate(45deg);
    font-family: 'Ubuntu';
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.OpradaRelPriceRotate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}
.fullPriceOpRada{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 152.5%;
text-align: center;
    margin: 0;
}
.salePriceOpRada{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 111%;
    /* or 49px */
    
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}
.GreenBlockMal{
    background: #3FAC8C;
    width: calc(50% - 49px);
    padding-left: 49px;
    padding-top: 51.25px;
    padding-bottom: 47px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.HelpCreateBooks{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
width: 70%;
margin: 0;
color: #3E3092;
}
.giveDiscount{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 1.25em;
width: 70%;
line-height: 137%;
/* or 27px */


color: #FFFFFF;
}
.nameBooksNewBooksMal{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
/* identical to box height, or 38px */


color: #FFFFFF;
}
.descriptionOpikunBook{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 135.5%;
color: #FFFFFF;
}
.whoyIsOpRada{
    width: 320px;
height: 60px;
background: #3E3092;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
display: flex;
align-items: center;
justify-content: center;
border: none;
color: #FFFFFF;
align-self: flex-end;
padding: 0;
}
.questionWrap{
    width: calc(100% - 136px);
    height: auto;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 47px;
    padding-bottom: 47px;

}
.questionWrapSmall{
    border: 20px solid #3E51C1;
    width: calc(100% - 40px);
    height: auto;
    display: flex;
flex-direction: column;

    justify-content: space-around;

}
.wrapBlockAw{
    display: flex;
 
    justify-content: space-around;
}
.pictureAnswerWrap{
    width: 26%;
    height: auto;
    margin-top: 30px;
    margin-left: 27px;
}
.pictureAnswer{
    width: 100%;
   
}
.questionsWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    padding-bottom: 34px;
   
}
.questionSinc{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
display: flex;
align-self: center;
color: #3E51C1;

}
.descriptionQuestion{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;

color: #000000;
}
.questionLi{
    margin: 34px;
    display: flex;
    align-items: center;
    justify-content: space-around;
list-style-type: none;
font-family: 'Ubuntu';
font-style: normal;
width: 80%;
height: auto;
font-size: 20px;

color: #000000;
}
.QuestionUl{
    display: flex;
    
    align-items: center;
    margin-top: 0;
    padding: 0;
}
.checkQuestion{
    width: 35px;
    height: 35px;
    margin-right: 18px;
    border: 5px solid  #3E51C1;
    flex-shrink: 0;
}
.questionButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 227px;
height: 60px;
background: #3E51C1;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
align-self: center;
cursor: pointer;
}
.blockAutorWrap{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}
.blockAutorBig{
position: relative;
    width: 100%;
   
    height: auto;
}
.imgAutorWrap{
    margin-top: 97px;
    position: absolute;
    margin-left: 14%;
    width: 252.44px;
    height: 252.44px;
    rotate: 45deg;
    
    
    overflow: hidden;
}
.imgAutorWrapSmall{
    
    position: relative;
    
    width: 126.57px;
height: 126.57px;
    rotate: 0deg;
    
    
   
}
.imgAutor{
    position: absolute;
    top: -23%;
    left: -15%;
    bottom: -20%;
    right: -15%;
    width: 356.98px;
height: 392.68px;
rotate: -45deg;
}
.imgAutorSmall{
    position: absolute;
    width: 178.99px;
height: 178.99px;
   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.infoAutor{
    width: 50%;
    
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.autorName{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
margin: 0;
line-height: 121%;
color: #3E51C1;
}
.autorDescription{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 126%;
color: #000000;
}
.autorYelowBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
        width: 130%;
        height: auto;
       background: #F7CB25; 
}
.autorPYellow{
    font-family: 'Ubuntu';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 121%;
color: #000000;
padding: 19px;
margin: 0;
}
.hvist{
    position: absolute;
    
    width: 105.5px;
height: 45.33px;
bottom: 0;
z-index: -1;
left: calc(0% - 52.75px);
clip-path: polygon(50% 0%, 0 100%, 100% 100%);
background: #F7CB25;
}
.wrapAutorProduct{
    padding-top: 68px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapAutorProductSmoll{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.allProdactAutor{
    position: absolute;
    left: 12%;
    bottom: 20%;
    margin-left: 3%;
    width: 227px;
height: 60px;
background: #FF3416;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
display: flex;
align-items: center;
justify-content: center;
border: none;
color: #FFFFFF;


}
.productAutorWrapSM{
    width: 22%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.smalProdName{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 16px;
margin-top: 0;
line-height: 121%;
color: #3E51C1;
}
.smallProdIcon{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconCartSMBlue{
    width: 60px;
height: 60px;
background: #3E51C1;
display: flex;
align-items: center;
justify-content: center;
}
.iconCartSMGreen{
    width: 60px;
height: 60px;
background: #3FAC8C;
display: flex;
align-items: center;
justify-content: center;
}
.picSmallProdAutor{
    width: 100%;
}
.blockForText{position: relative;}
.AllBooksAutorH2{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 121%;
color: #3E51C1;
}
.abrakadabra{
    width: 130%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.allAutorsWrap{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.allAutorsWrapSmall{
    width: calc(100% - 136px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.ourAutor{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
color: #FF3416;
}
.autorNameM{
position: absolute;
top: 90%;
left: 70%;
z-index: 100;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 121%;
color: #3E51C1;
overflow: visible;
transform: rotate(-45deg);

}
.autorListSmal{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainPageBlogWrap{
    padding-top: 119px;
    display: flex;
    flex-direction: column;

}
.mainPageBlogH2{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
color: #3E51C1;
margin-left: 90px;
}
.blogList{
    width: 100%;
height: 617px;
background: #3E51C1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.publishListWrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 90%;
}
.blogProdPage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 376px;
}
.vidoPic{
    width: calc(376px - 28px );
    height: calc(224px - 28px);
    border: 14px solid #F7CB25;
}
.vidoPicImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nameBlog{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 122%;
color: #FFFFFF;
}
.descriptionBlogSmall{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 122%;
color: #FFFFFF;
margin: 0px;
}
.moreBlogBut{
    width: 227px;
height: 60px;
border: none;
background: #F7CB25;
    display: flex;
justify-content: center;
align-items: center;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 600;
font-size: 20px;
cursor: pointer;
line-height: 117.5%;
color: #3E3092;
}
.videoViewAgeWrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-top: 68px;
    padding-bottom: 89px;
}
.vidoViewBlockVideo{
    position: relative;
    margin-left: 40px;
    border: 20px solid #3FAC8C;
    width: calc(758px - 40px);
height: calc(454px - 40px);
}
.zaVikomImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.playButton{
    width: 56px;
    position: absolute;
    top: calc(50% - 40.5px);
    right: calc(50% - 28px);
height: 81px;
background: #F7CB25;
cursor: pointer;
    -webkit-clip-path: polygon(0% 0%, 0 0, 100% 50%, 0 100%, 0% 100%);
clip-path: polygon(0% 0%, 0 0, 100% 50%, 0 100%, 0% 100%);
}
.zaVikomOpus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33%;
    height: 100%;
    justify-content: space-between;
    
}
.zaVikomOpusH1{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 111%;
color: #3E3092;
}
.zaVikomOpusP{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 122%;
color: #3E3092;
}
.zaVikomOpusButton{
    margin-top: 40px;
    cursor: pointer;
    width: 227px;
height: 60px;   
background: #3E3092;
border: none;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.5%;
color: #FFFFFF;
}
.subscribeWrap{
    width: 100%;
height: 187px;
background: #3E51C1;
display: flex;
align-items: center;
justify-content: center;
}
.logSubscribe{
margin-bottom: 30px;
}
.subscribeP{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 34px;
line-height: 111%;
color: #FFFFFF;
}
.subscribePSpan{
    font-weight: 800;
}
.subscribeButton{
    width: 227px;
height: 60px;
background: #F7CB25;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 117.5%;
/* identical to box height, or 24px */

display: flex;
align-items: center;
justify-content: center;
border: none;
margin-left: 60px;
color: #3E3092;
cursor: pointer;
}
.polosa{
    height: 87px;
    width: 100%;
    background: white;
}